@tailwind base;
@tailwind components;
@tailwind utilities;

.compass {
    transition: transform 0.5s ease;
}

html, body {
  overflow: hidden; /* Prevent default browser scroll */
  height: 100%;
}

[data-scroll-container] {
  height: 100vh;
  overflow: hidden;
}

[data-scroll-section] {
  position: relative;
}
